.startpage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;

  // Header content
  &-header {
    margin-bottom: 40px;
  }

  // Offer content
  &-offer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &-column {
      display: flex;
      flex-direction: column;
      flex: 0 0 31%;
      margin-bottom: 40px;

      @media (max-width: @screen-md) {
        display: block;
        flex: 0 0 47%;
      }

      @media (max-width: @screen-sm) {
        display: block;
        flex: 0 0 100%;
      }

      &:last-child {
        @media (max-width: @screen-md) {
          flex: 0 0 100%;
        }
      }

      .dali-plugin-text-content h3 {
        margin: 0;
      }

      .dali-plugin-text-content p {
        margin-bottom: 5px;
      }
    }
  }

  // About content
  &-about {
    display: flex;
    flex-direction: row;

    &-column {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      text-align: center;

      &-header {
        margin: 0 80px;

        @media (max-width: @screen-md) {
          margin: 0 40px;
        }

        @media (max-width: @screen-sm) {
          margin: inherit;
        }
      }
    }
  }
}